node_modules/
.pnp/
.claude/
.pnpm-debug.log*
dist/
build/
.env
.env.*
.DS_Store
.vscode/
.nyc_output/
coverage/
.idea/
**/.history
**/dist
**/.turbo
**/.next
**/.vercel
**/out
**/coverage
**/.DS_Store

# Docker
docker-compose.override.yml

# Logs
*.log
